
@headerHeight: 		 60px;


/***************************
These are the styles global styles for
the Porchlight app
***************************/

#appHeader{
	position:fixed;
	max-width:100%;
	width:100%;
	height:@headerHeight;
	padding:0px;
	margin:0px;
	top:0px;
	z-index:@zIndex-1;
	background-color:#fff;
	border-bottom: 10px solid @green;
}





